.searchResult {
            font-weight:bold;
            background-color: grey;
            position: relative;
            margin: 0 15px 30px 15px;
            min-width: 30%;
            max-width: 31%;
            flex-grow: 1;
            height: 100px;
            list-style: none;
            padding: 25px;
            border-radius: 4px;
            box-shadow: 0 1px 5px rgba(0,0,0,0.15);
    }


.searcheader {
        height: 64px;
        box-shadow: 0 1px 5px rgba(0,0,0,0.2);
        z-index: 2;
        line-height: 64px;
        background-color: white;
    }
